@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@mixin box {
  padding: 1rem;
  background-color: $dark-5;
  border-radius: 11px;
  @media (min-width: $tablet) {
    padding: 2rem;
  }
  @media (min-width: $small-screen) {
    padding: 2rem;
  }
}
