/* COLORS */
/* Dark: */
$dark-1: #0f0f1b;
$dark-2: #121220;
$dark-3: #161626;
$dark-4: #1b1b2e;
$dark-5: #202036;
$dark-6: #25253f;
$dark-7: #2b2b4a;
/* Light: */
$light-1: #ffffff;
$light-2: #ededf5;
$light-3: #d7d7e9;
$light-4: #c3c3de;
$light-5: #b0b0d4;
$light-6: #9e9eca;
$light-7: #8e8ec1;
/* Lime: */
$lime-100: #f5fccd;
$lime-200: #e8f99d;
$lime-300: #d3ee6a;
$lime-400: #bade44;
$lime-500: #98c910;
$lime-600: #7dac0b;
$lime-700: #659008;
$lime-800: #4d7405;
$lime-900: #3d6003;
/* Semantic: */
$danger: #f93a2c;

/* MEDIA QUERIES */
$tablet: 40em; //700px
$small-screen: 62em; //992px
$large-screen: 87em; //1392px
